{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="col-lg-5 col-xl-4 docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block">
			<nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/docs-menu.html" . }}
			</nav>
		</div>
		<main class="docs-content col-lg-11 col-xl{{ if eq .Site.Params.options.fullWidth false }}-9{{ end }}">
			<h1>{{ .Title }} Entries</h1>
			{{ .Content }}
			<div class="row justify-content-center">
					<article>
						<div class="card-list">
							{{ range .Data.Pages -}}
								<div class="card">
									<div class="card-body">
										<h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}{{ with .Params.emoji -}}&nbsp;{{ . | emojify }}{{ end -}}</a></h2>
										<p>{{ .Params.description | safeHTML }}</p>
										{{ partial "main/blog-meta.html" . -}}
									</div>
								</div>
							{{ end -}}
						</div>
					</article>
			</div>
			<div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
				{{ if .Site.Params.lastMod -}}
					{{ partial "main/last-modified.html" . }}
				{{ end -}}
				{{ if .Site.Params.editPage -}}
					{{ partial "main/edit-page.html" . }}
				{{ end -}}
			</div>
			{{ partial "main/docs-navigation.html" . }}
		</main>
	</div>
{{ end }}
